.input-line
  %span.street
    %input{"type" => "text"}
    %label Address

.input-line
  %span.city
    %input{"type" => "text"}
    %label City

  %span.state
    %input{"type" => "text"}
    %label State / Province / Region

.input-line
  %span.zip
    %input{"type" => "text"}
    %label Zipcode

  %span.country
    %select
    %label Country
