.subtemplate-wrapper{"data-backbone-click" => "focusEditView"}
  .cover
  != FormBuilder.JST['view/pieces/label'](@)
  .subtemplate-wrapper-inner
  .clearfix
  != FormBuilder.JST['view/pieces/description'](@)

.actions-wrapper
  %a{"data-backbone-click" => "duplicate", "title" => "Duplicate Field"} +
  %a{"data-backbone-click" => "clear", "title" => "Remove Field"} -
