.subtemplate-wrapper{"data-backbone-click" => "focusEditView"}
  .cover
  != FormBuilder.JST['view/pieces/label'](@)
  .subtemplate-wrapper-inner
  .clearfix
  != FormBuilder.JST['view/pieces/description'](@)

!= FormBuilder.JST['view/pieces/duplicate_remove'](@)