.input-line
  %span.month
    %input{"type" => "text"}
    %label MM

  %span.above-line /

  %span.day
    %input{"type" => "text"}
    %label DD

  %span.above-line /

  %span.year
    %input{"type" => "text"}
    %label YYYY
