.fb-clear {
  clear: both; }

.fb-main {
  max-width: 1000px;
  margin: 0 auto; }

.fb-left {
  width: 320px;
  float: left;
  background-color: #eeeeee;
  padding: 20px; }

.fb-right {
  margin-left: 400px; }

.fb-tabs {
  list-style: none;
  margin: 0;
  padding: 0; }
  .fb-tabs li {
    display: inline-block;
    margin: 5px 10px; }

.fb-tab-content .fb-tab-pane {
  display: none; }
  .fb-tab-content .fb-tab-pane.active {
    display: block; }

.fb-add-field-types a {
  display: inline-block;
  width: 33%;
  background-color: #cccccc;
  margin-bottom: 6px;
  padding: 4px; }

.fb-response-fields .response-field-wrapper {
  cursor: pointer;
  position: relative;
  /* remove/duplicate buttons */ }
  .fb-response-fields .response-field-wrapper:hover .actions-wrapper, .fb-response-fields .response-field-wrapper.editing .actions-wrapper {
    display: block; }
  .fb-response-fields .response-field-wrapper:hover .subtemplate-wrapper {
    border-color: #dddddd; }
  .fb-response-fields .response-field-wrapper.editing {
    background-color: #dfefff; }
    .fb-response-fields .response-field-wrapper.editing .subtemplate-wrapper {
      border-color: #c2d7ef;
      border-style: solid; }
  .fb-response-fields .response-field-wrapper .actions-wrapper {
    display: none;
    position: absolute;
    bottom: -7px;
    right: 5px;
    z-index: 3; }
    .fb-response-fields .response-field-wrapper .actions-wrapper a {
      display: inline-block;
      background-color: #cccccc;
      padding: 2px 8px; }
.fb-response-fields .subtemplate-wrapper {
  border: 1px dashed transparent;
  margin-bottom: 10px;
  padding: 10px;
  position: relative; }
  .fb-response-fields .subtemplate-wrapper .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2; }
