<div class='modal_dialog'>
  <div class='modal_content'>
    <div class='modal_header'>
      <a class='close' data-dismiss='modal' href='#'>&times;</a>
      <h3><%= t('formbuilder.add_options_in_bulk') %></h3>
    </div>
    <div class='modal_body'>
      <textarea rows='10'></textarea>
      <div class='form_hint'>
        <%= t('formbuilder.one_option_per_line') %>
      </div>
    </div>
    <div class='modal_footer'>
      <div class='modal_footer_primary'>
        <button class='button primary'><%= t('formbuilder.add_options') %></button>
      </div>
    </div>
  </div>
</div>
