<hr />

<div class='fb_edit_section'>
  <label class='control small'>
    <input type="checkbox" data-rv-checked="model.<%= Formbuilder.mappings.DISABLE_CENTS %>" />
    <%= t('formbuilder.hide_cents') %>
  </label>
</div>
