<hr />

<div class='fb_edit_section'>
  <label class='control small'>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.mappings.INTEGER_ONLY %>' />
    <%= t('formbuilder.only_integers') %>
  </label>
</div>
