<hr />

<div class='fb_edit_section fb_edit_section_horiz fb_edit_section_units'>
  <label><%= t('formbuilder.units') %></label>
  <div class='fb_edit_section_horiz_content'>
    <input type="text" class="small" data-rv-input="model.<%= Formbuilder.mappings.UNITS %>" />
  </div>
</div>
