$leftSideWidth: 360px
$bottomFieldMargin: 10px
$inputLineLeftMargin: 6px

.fb-main
  max-width: 1000px
  margin: 0 auto

.fb-left
  width: 320px
  float: left
  background-color: #eee
  padding: 20px

.fb-right
  margin-left: 400px