$leftSideWidth: 360px
$bottomFieldMargin: 10px
$inputLineLeftMargin: 6px

.fb-clear
  clear: both

.fb-main
  max-width: 1000px
  margin: 0 auto

.fb-left
  width: 320px
  float: left
  background-color: #eee
  padding: 20px

.fb-right
  margin-left: 400px

.fb-tabs
  list-style: none
  margin: 0
  padding: 0

  li
    display: inline-block
    margin: 5px 10px

.fb-tab-content
  .fb-tab-pane
    display: none

    &.active
      display: block

.fb-add-field-types
  a
    display: inline-block
    width: 33%
    background-color: #ccc
    margin-bottom: 6px
    padding: 4px