.fb-button{display:inline-block;margin:0;padding:.563rem .844rem;border:0 none;background:#1fa3ec;color:#fff;text-align:center;text-decoration:none;font-size:12px;line-height:1.5;cursor:pointer;-webkit-border-radius:.356rem;-moz-border-radius:.356rem;border-radius:.356rem;-webkit-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.12);-moz-box-shadow:inset 0 -2px 0 rgba(0,0,0,0.12);box-shadow:inset 0 -2px 0 rgba(0,0,0,0.12);}
.fb-button[disabled]{background:#ddd !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;color:#777 !important;text-shadow:none !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";opacity:.65;cursor:default}
.fb-clear{clear:both}
.fb-main{max-width:1000px;margin:0 auto;padding:20px}
.fb-save-wrapper{text-align:right;margin-bottom:20px}
.fb-left{width:320px;float:left;background-color:#eee;padding:20px}
.fb-right{margin-left:340px}
.fb-tabs{list-style:none;margin:0 0 20px 0;padding:0;border-bottom:1px solid #ccc;}
.fb-tabs li{display:inline-block;}
.fb-tabs li a{display:block;padding:10px;border-radius:5px 5px 0 0;font-size:13px;cursor:pointer;border-left:1px solid transparent;border-right:1px solid transparent}
.fb-tabs li.active a{border:1px solid #ccc;margin-bottom:-1px;border-bottom-color:#eee}
.fb-tab-content .fb-tab-pane{display:none;}
.fb-tab-content .fb-tab-pane.active{display:block}
.fb-add-field-types .section{border-bottom:1px solid #ccc;padding-bottom:5px;margin-bottom:10px;}
.fb-add-field-types .section:last-child{border-bottom:0}
.fb-add-field-types a{display:inline-block;width:45%;background-color:#666;margin-bottom:5px}
.fb-response-fields{padding-bottom:450px;}
.fb-response-fields a.sortable-placeholder{display:block;border:1px dashed #ddd;min-height:80px;height:80px;width:100%}
.fb-response-fields .response-field-wrapper{cursor:pointer;position:relative;margin-bottom:20px;}
.fb-response-fields .response-field-wrapper:hover .actions-wrapper,.fb-response-fields .response-field-wrapper.editing .actions-wrapper{display:block}
.fb-response-fields .response-field-wrapper:hover .subtemplate-wrapper{border-color:#ddd}
.fb-response-fields .response-field-wrapper.editing{background-color:#dfefff;}
.fb-response-fields .response-field-wrapper.editing .subtemplate-wrapper{border-color:#c2d7ef;border-style:solid}
.fb-response-fields .response-field-wrapper .actions-wrapper{display:none;position:absolute;bottom:-7px;right:5px;z-index:3;}
.fb-response-fields .response-field-wrapper .actions-wrapper a{display:inline-block;background-color:#ccc;padding:2px 8px}
.fb-response-fields .subtemplate-wrapper{border:1px dashed transparent;margin-bottom:10px;padding:10px;position:relative;}
.fb-response-fields .subtemplate-wrapper .cover{position:absolute;height:100%;width:100%;z-index:2}
#edit-response-field-wrapper .fb-field-label{font-weight:bold;font-size:16px}
#edit-response-field-wrapper .fb-edit-section-header{font-weight:bold;border-bottom:1px solid #ccc;margin-top:15px}
.response-field-draggable-helper{border:1px dashed #ddd;background:#eee}
