.fb-edit-section-header Label

.grid
  .grid-item.two_thirds
    %input{"type" => "text", "data-rv-value" => "model.label"}
    %textarea{"data-rv-value" => "model.field_options.description", "placeholder" => "Add a longer description to this field"}

  .grid-item.one_third
    %label.checkbox
      Required
      %input{"type" => "checkbox", "data-rv-checked" => "model.field_options.required"}
    %label.checkbox
      Blind
      %input{"type" => "checkbox", "data-rv-checked" => "model.blind"}
    %label.checkbox
      Admin only
      %input{"type" => "checkbox", "data-rv-checked" => "model.admin_only"}

