<div class='fb-tab-pane active' id='addField'>
  <div class='fb-add-types'>
    <div class='section'>
      <% _.chain(Formbuilder.inputFields)
          .sortBy('order')
          .filter(function(f){ return f.enabled; })
          .each(function(f){ %>
        <a data-type="<%= f.type %>" class="<%= Formbuilder.options.BUTTON_CLASS_SELECTOR %>">
          <%= f.addButton %>
        </a>
      <% }); %>
    </div>

    <div class='section'>
      <% _.chain(Formbuilder.nonInputFields)
          .sortBy('order')
          .filter(function(f){ return f.enabled; })
          .each(function(f){ %>
        <a data-type="<%= f.type %>" class="<%= Formbuilder.options.BUTTON_CLASS_SELECTOR %>">
          <%= f.addButton %>
        </a>
      <% }); %>
    </div>
  </div>
</div>