- for option in @response_field.get('field_options.options') || []
  %div
    %label.checkbox
      %input{"type" => "checkbox", "checked" => option.checked, "onclick" => "javascript:return false;"}
      = option.label

- if @response_field.get('field_options.include_other_option')
  %div.other-option
    %label.checkbox
      %input{"type" => "checkbox"}
      Other

    %input{"type" => "text"}