.fileupload.fileupload-new
  .input-append
    .uneditable-input.span3
      %span.icon-file.fileupload-exists
      %span.fileupload-preview

    %span.btn.btn-file
      %span.fileupload-new Select file
      %span.fileupload-exists Change
