.input-line
  %span.hours
    %input{"type" => "text"}
    %label HH

  %span.above-line :

  %span.minutes
    %input{"type" => "text"}
    %label MM

  %span.above-line :

  %span.seconds
    %input{"type" => "text"}
    %label SS

  %span.am_pm
    %select
      %option AM
      %option PM
