<div class='subtemplate-wrapper'>
  <div class='cover'></div>
  <%= Formbuilder.templates['view/conditional']({rf: rf}) %>
  <%= Formbuilder.templates['view/label']({rf: rf}) %>

  <%= Formbuilder.fields[rf.get(Formbuilder.options.mappings.TYPE)].view({rf: rf}) %>

  <%= Formbuilder.templates['view/description']({rf: rf}) %>
  
  <% if (rf.get(Formbuilder.options.mappings.DISALLOW_DUPLICATION)) { %>
    <%= Formbuilder.templates['view/remove']({rf: rf}) %>
  <% } else { %>
    <%= Formbuilder.templates['view/duplicate_remove']({rf: rf}) %>
  <% } %>
</div>
