<%
var parent = rf.conditionalParent();
if(parent) {
%>
<div class="fb-conditional-question">
    <i class="fb-icon-conditional"></i>
    <%
        if(parent.get('type') == 'approval') { %>
    <span class="fb-conditional-question-trigger">
                display when <span><%= parent.get('label') %></span>
                <span class="trigger-option"><%= rf.conditionalTriggerOptions(true) %></span>
            </span>
     <%   } else {
            var triggerValues = _.pluck(rf.conditionalTriggerOptions(true), 'label');
    %>
            <span class="fb-conditional-question-trigger">
                display when <span><%= parent.get('label') %></span> is
                <span class="trigger-option"><%= triggerValues.join('</span>or<span class="trigger-option">') %></span>
            </span>
     <%   }
     %>
</div>

<% } %>

