<div class="element-selector btn-group">
<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span>
</button>
<ul class="dropdown-menu pull-right" role="menu">
    <li data-type="text"><span class="fb-icon-text"></span> Text</li>
    <li data-type="number"><span class="fb-icon-number"></span> Number</li>
    <li data-type="textarea"><span class="fb-icon-textarea"></span> Paragraph</li>
    <li data-type="info"><span class="fb-icon-info"></span> Info</li>
    <li role="presentation" class="divider"></li>
    <li data-type="dropdown"><span class="fb-icon-dropdown"></span> Dropdown</li>
    <li data-type="radio"><span class="fb-icon-radio"></span> Radio Button</li>
    <li data-type="checkbox"><span class="fb-icon-checkbox"></span> Checkboxes</li>
    <li data-type="datasource"><span class="fb-icon-data-source"></span> Data Source</li>
    <li role="presentation" class="divider"></li>
    <li data-type="date"><span class="fb-icon-date"></span> Date</li>
    <li data-type="time"><span class="fb-icon-time"></span> Time</li>
    <li data-type="signature"><span class="fb-icon-signature"></span> Signature</li>
    <li data-type="geolocation"><span class="fb-icon-geolocation"></span> GeoLocation</li>
</ul>
</div>
