<div class="element-selector btn-group">
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    <li data-field-type="text"><span class="fb-icon-text"></span> Text</li>
    <li data-field-type="paragraph"><span class="fb-icon-paragraph"></span> Paragraph</li>
    <li data-field-type="dropdown"><span class="fb-icon-dropdown"></span> Dropdown</li>
    <li data-field-type="checkboxes"><span class="fb-icon-checkboxes"></span> Checkboxes</li>
    <li data-field-type="radio"><span class="fb-icon-radio"></span> Radio</li>
    <li data-field-type="info"><span class="fb-icon-info"></span> Info</li>
</ul>
</div>