<div class='fb-edit-section-header'>Approver</div>
<div>
    <div>
        <label>
            <input type="radio" id="any_user" name="approver_type" value="1" data-rv-checked='model.<%= Formbuilder.options.mappings.APPROVAL.APPROVER_TYPE %>'>
            Any user can approve
        </label>
    </div>
    <div>
        <label>
            <input type="radio" id="select_user" name="approver_type" value="2" data-rv-checked='model.<%= Formbuilder.options.mappings.APPROVAL.APPROVER_TYPE %>'>
            Specify Approver
        </label>
    </div>
    <% if (rf.showApprovers()) { %>
    <div>
        <select class="fb-approval-user-select" data-rv-value="model.options.approver">
            <%
            users = rf.getApprovers()
            for (i in (users || [])) {
            user = users[i]
            %>
            <option value='<%= user.id %>'>
                <%= user.full_name + ' (' + user.username + ')' %>
            </option>
            <% } %>
        </select>
    </div>
    <% } %>
</div>

