<label class="checkbox">
  <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.LIST.MULTIPLE %>' />
  Multiple selections
</label>

<div class='fb-edit-section-header'>Data Source</div>
    <select data-rv-value="model.<%= Formbuilder.options.mappings.LIST.DATA_SOURCE %>">
    <% for (i in (Formbuilder.attr('sources') || [])) { %>
        <option <%= Formbuilder.attr('sources')[i] && 'selected' %>>
        <%= Formbuilder.attr('sources')[i] %>
        </option>
    <% } %>
    </select>
</div>