<div class='fb-edit-section-header'>Options</div>

<% if (typeof includeBlank !== 'undefined'){ %>
  <label class="checkbox">
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_BLANK %>' />
    Include blank
  </label>
<% } %>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
<!--   <input type="checkbox" class='js-default-updated' data-rv-checked="option:checked" /> -->
  <input type="text" data-rv-input="option:label" placeholder="Label" class='option-label-input' />
  <% if (rf.get(Formbuilder.options.mappings.INCLUDE_SCORING)) { %>
  <input type="text" data-rv-input="option:score" placeholder="Score" class='option-score-input' />
  <% } %>

  <button class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS_REMOVE %>" title="Remove Option"><span class='glyphicon glyphicon-minus'></span></button>
</div>

<% if (typeof includeOther !== 'undefined'){ %>
  <label class="checkbox">
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' />
    Include "other"
  </label>
<% } %>

<div class='fb-bottom-add'>
  <button class="js-add-option <%= Formbuilder.options.BUTTON_CLASS_ADD %>">Add option</button>
</div>
