<div class='fb-edit-section-header'>Options</div>

<% if (typeof includeBlank !== 'undefined'){ %>
  <label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_BLANK %>' />
    Include blank
  </label>
<% } %>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  <input type="checkbox" class='js-default-updated' data-rv-checked="option:checked" />
  <input type="text" data-rv-input="option:label" placeholder="Label" class='option-label-input' />
  <% if (rf.get(Formbuilder.options.mappings.INCLUDE_SCORING)) { %>
  <input type="text" data-rv-input="option:score" placeholder="Score" class='option-score-input' />
  <% } %>

  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Remove Option"><span class='icon-minus'></span></a>
</div>

<% if (typeof includeOther !== 'undefined'){ %>
  <label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' />
    Include "other"
  </label>
<% } %>

<div class='fb-bottom-add'>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>">Add option</a>
</div>
