<hr />

<div class='fb_edit_section fb_edit_section_horiz'>
  <label>Size</label>
  <div class='fb_edit_section_horiz_content'>
    <select data-width="100%" data-rv-value="model.<%= Formbuilder.mappings.SIZE %>">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
  </div>
</div>
