<div class='fb-edit-section-header'>Layout</div>
    <label>
        Columns
        <select data-rv-value="model.<%= Formbuilder.options.mappings.TABLE.NUMCOLS %>">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </label>

    <label>
        Max rows
        <input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.TABLE.MAXROWS %>" style="width: 40px" />
    </label>
</div>