.fb-field-label
  <span data-rv-text="model.label"></span>
  %code.field-type{"data-rv-text" => "model.field_type"}
  %span.icon-arrow-right.pull-right

!= FormBuilder.JST['edit/groups/common']()

.edit-subtemplate-wrapper

!= FormBuilder.JST['edit/pieces/review_this_field']()
