<div class='fb-edit-section-header'>Length Limit</div>

Min
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MINLENGTH %>" style="width: 30px" />

&nbsp;&nbsp;

Max
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MAXLENGTH %>" style="width: 30px" />

&nbsp;&nbsp;

<select data-rv-value="model.<%= Formbuilder.options.mappings.LENGTH_UNITS %>" style="width: auto;">
  <option value="characters">characters</option>
  <option value="words">words</option>
</select>
