.fb-edit-section-header Label

.row-fluid
  %input{"type" => "text", "data-rv-value" => "model.label"}
  %textarea{"data-rv-value" => "model.field_options.description", "placeholder" => "Add a longer description to this field"}
