.fb-edit-section-header Create Labels
%label.checkbox
  %input{"type" => "checkbox", "data-rv-checked" => "model.field_options.create_labels"}
  Automatically create labels in the bid review interface based on the response to this field
