- if @includeBlank
  %label.checkbox
    %input{"type" => "checkbox", "data-rv-checked" => "model.field_options.include_blank_option"}
    = I18n.t('g.response_field.include_blank')

%div.option{"data-rv-each-option" => "model.field_options.options"}
  %input{"type" => "checkbox", "data-rv-checked" => "option:checked", "data-backbone-click" => "defaultUpdated"}
  %input{"type" => "text", "data-rv-value" => "option:label", "data-backbone-input" => "forceRender"}
  %a.btn.btn-mini.btn-success{"data-backbone-click" => "addOption", "title" => "Add Option"}
    %span.icon-plus-sign
  %a.btn.btn-mini.btn-danger{"data-backbone-click" => "removeOption", "title" => "Remove Option"}
    %span.icon-minus-sign

- if @includeOther
  %label.checkbox
    %input{"type" => "checkbox", "data-rv-checked" => "model.field_options.include_other_option"}
    Include "other"

%a.btn.btn-small.btn-primary{"data-backbone-click" => "addOption"}= I18n.t('g.response_field.add_option')

