%label.header= I18n.t('g.response_field.size')
%select{"data-rv-value" => "model.field_options.size"}
  %option{"value" => "small"}= I18n.t('g.response_field.small')
  %option{"value" => "medium"}= I18n.t('g.response_field.medium')
  %option{"value" => "large"}= I18n.t('g.response_field.large')
