.response-field-save-wrapper
  %button.btn.pull-right{"data-backbone-click" => "saveForm", "data-loading-text" => 'All changes saved'} Save form
  .clearfix

.fb-left
  %ul.fb-tabs
    %li.active
      %a Add new field
    %li
      %a Edit field

    - if @options.formOptions
      %li
        %a Form options

  .fb-tab-content
    .fb-tab-pane.active#addField

    .fb-tab-pane#editField
      #edit-response-field-wrapper

    - if @options.formOptions
      .tab-pane#formOptions
        %label Form description
        %textarea.textarea-full{"data-rv-value" => "formOptions.form_description"}

        %label Form confirmation message
        %textarea.textarea-full{"data-rv-value" => "formOptions.form_confirmation_message"}
        %span.help-block No confirmation message?

        %label Submit Button Text
        %input{"type" => "text", "data-rv-value" => "formOptions.submit_button_text"}
        %span.help-block If left blank, the default is "Submit"

        .response-identifier-wrapper

.fb-right
  #no-response-fields No response fields
  #response-fields

.clearfix