.response-field-save-wrapper
  %button.btn.pull-right{"data-backbone-click" => "saveForm", "data-loading-text" => 'All changes saved'} Save form
  .clearfix

.fb-left
  %ul.nav.nav-tabs#response-field-tabs
    %li.active
      %a{"href" => "#addField", "data-toggle" => "tab"} Add new field
    %li
      %a{"href" => "#editField", "data-toggle" => "tab"} Edit field

    - if @options.formOptions
      %li
        %a{"href" => "#formOptions", "data-toggle" => "tab"} Form options

  .tab-content
    .tab-pane.active#addField

    .tab-pane#editField
      #edit-response-field-wrapper

    - if @options.formOptions
      .tab-pane#formOptions
        %label Form description
        %textarea.textarea-full{"data-rv-value" => "formOptions.form_description"}

        %label Form confirmation message
        %textarea.textarea-full{"data-rv-value" => "formOptions.form_confirmation_message"}
        %span.help-block No confirmation message?

        %label Submit Button Text
        %input{"type" => "text", "data-rv-value" => "formOptions.submit_button_text"}
        %span.help-block If left blank, the default is "Submit"

        .response-identifier-wrapper

#response-field-right-wrapper
  #no-response-fields None
  #response-fields

.clearfix